body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: black;
}

#game-board{
    background-color: #CCC;
    width: 100vmin; /* makes sure the playing field is perfect square*/
    height: 100vmin;
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(21, 1fr); 
}

.snake {
    background-color:'#D7E3F9' ;
    border: .25vmin;
}

.food{
    background-color:'#FA5C98'; 
    border: .25vmin
}
