@import url('https://fonts.cdnfonts.com/css/super-legend-boy?styles=62384');


*{
    padding: 0;
    margin: 0;
    z-index: 99;
}

body{
    z-index: 100;
    box-sizing: border-box;
    width: 100%;
    background-color: #0a2330;

}

/*Section login container - page 1*/

.login-container{
    z-index: 99;
    width: auto;
    height: 125vh;
    background-image: url(/media/algemeen/wallpaper8bitdown.png);
    background-size:cover;
    background-position: center top;
    display: flex;
    border-top-left-radius: 1rem ;
    border-top-right-radius: 1rem ;

}

/*----------------flip card code----------------*/

.flip-container {
	perspective: 1000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
}
.flipper {
  padding: 30px;
  width: 500px;
  height:17em;
  position: relative;
    background: #f5f5f5d2;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
	
	transition: 0.6s;
	transform-style: preserve-3d;
}

.front, .back {
  position: absolute;
    padding:10px 30px;
  top: 0;
  left: 0;
  right: 0;
	
	backface-visibility: hidden;
}

.front{
	z-index: 2;
	/* voor firefox 31 */
	transform: rotateY(0deg);
}

.back{
    transform: rotateY(180deg);
}
.flip{
		transform: rotateY(180deg);
}
input{
    width:100%;
    margin-bottom:15px;
    height:40px;
    box-sizing: border-box;
    padding:10px;
}

.title{
    font-family: 'Super Legend Boy', sans-serif;
    text-align: center;
    font-weight: 100;
    font-size: 1.5rem;
    letter-spacing: 2px;
    margin-bottom: 1rem;
  
}
.flipbutton{
    font-family: 'Super Legend Boy', sans-serif;
    font-weight: 100;
    font-size: 0.8rem;
    color:#4096ee;
    text-decoration:none;
    text-align:left !important;
}


/*----------------flip card end code----------------*/


/*Phone version - page 1*/
@media (max-width: 750px){

    .login-container{
        border: red 1px;
    }

    .login-card-container{
        width: 80%;
        height: 50%;
        margin-top: 10%;
        margin-left: auto;
        margin-right:auto ;
        border-radius: 1rem;
        
        border:red solid 2px;        
    }

    .login-container{
        z-index: 99;
        width: auto;
        height: 125vh;
        background-image: url(/media/algemeen/wallpaper8bitdown.png);
        background-size:cover;
        background-position: center top;
        display: flex;
    }
    
    /*----------------flip card code----------------*/
    
    .flip-container {
        perspective: 1000;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5rem;
    }
    .flipper {
      padding: 30px;
      width: 250px;
      height:250px;
      position: relative;
        background: #f5f5f5d2;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        
        transition: 0.6s;
        transform-style: preserve-3d;
    }
    
    .front, .back {
      position: absolute;
        padding:10px 30px;
      top: 0;
      left: 0;
      right: 0;
        
        backface-visibility: hidden;
    }
    
    .front{
        z-index: 2;
        transform: rotateY(0deg);
    }

    .back{
        transform: rotateY(180deg);
    }
    .flip{
            transform: rotateY(180deg);
    }
    input{
        width:100%;
        margin-bottom:15px;
        height:40px;
        box-sizing: border-box;
        padding:10px;
    }
    
    .title{
      text-align: center;
    }
    .flipbutton{
        color:#4096ee;
        text-decoration:none;
        text-align:left !important;
    }

/*----------------Flip card code end----------------*/

}



