@import url("https://fonts.cdnfonts.com/css/super-legend-boy?styles=62384");
@import url("https://fonts.cdnfonts.com/css/minecraft-4");

* {
	padding: 0;
	margin: 0;
	z-index: 99;
}

body {
	z-index: 100;
	box-sizing: border-box;
	width: 100%;
	background-color: #0a2330;
}

/*Section login container - page 1*/

.login-container {
	z-index: 99;
	width: auto;
	height: 150vh;
	background-image: url(/media/gamepage/bg-spcae.png);
	background-size: cover;
	background-position: center top;
	display: flex;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}

/*----------------flip card code----------------*/

.flip-container {
	perspective: 1000;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10rem;
}
.flipper {
	padding: 30px;
	width: 500px;
	height: 23em;
	position: relative;
	background: #f5f5f5d2;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;

	transition: 0.6s;
	transform-style: preserve-3d;
}

.front,
.back {
	position: absolute;
	padding: 10px 30px;
	top: 0;
	left: 0;
	right: 0;

	backface-visibility: hidden;
}

.front {
	z-index: 2;
	/* voor firefox 31 */
	transform: rotateY(0deg);
}

.back {
	transform: rotateY(180deg);
}
.flip {
	transform: rotateY(180deg);
}
input {
	width: 100%;
	margin-bottom: 15px;
	height: 40px;
	box-sizing: border-box;
	padding: 10px;
}

i {
	margin-bottom: 10px;
}

.title {
	font-family: "Super Legend Boy", sans-serif;
	text-align: center;
	font-weight: 100;
	font-size: 1.5rem;
	letter-spacing: 2px;
	margin-bottom: 1rem;
}
.flipbutton {
	font-family: "Super Legend Boy", sans-serif;
	font-weight: 100;
	font-size: 0.8rem;
	color: #4096ee;
	text-decoration: none;
	text-align: left !important;
}

/*----------------flip card end code----------------*/

/*Phone version - page 1*/
@media (max-width: 750px) {
	.login-container {
		border: red 1px;
	}

	.login-card-container {
		width: 80%;
		height: 300px;
		margin-top: 10%;
		margin-left: auto;
		margin-right: auto;
		border-radius: 1rem;

		border: red solid 2px;
	}

	.login-container {
		z-index: 99;
		width: auto;
		height: 125vh;
		background-image: url(/media/gamepage/bg-spcae.png);
		background-size: cover;
		background-position: center top;
		display: flex;
	}

	/*----------------flip card code----------------*/

	.flip-container {
		perspective: 1000;
		margin-left: auto;
		margin-right: auto;
		margin-top: 5rem;
	}
	.flipper {
		padding: 30px;
		width: 250px;
		height: 23em;
		position: relative;
		background: #f5f5f5d2;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;

		transition: 0.6s;
		transform-style: preserve-3d;
	}

	.front,
	.back {
		position: absolute;
		padding: 10px 30px;
		top: 0;
		left: 0;
		right: 0;

		backface-visibility: hidden;
	}

	.front {
		z-index: 2;
		transform: rotateY(0deg);
	}

	.back {
		transform: rotateY(180deg);
	}
	.flip {
		transform: rotateY(180deg);
	}
	input {
		width: 100%;
		margin-bottom: 15px;
		height: 40px;
		box-sizing: border-box;
		padding: 10px;
	}

	.title {
		text-align: center;
	}
	.flipbutton {
		color: #4096ee;
		text-decoration: none;
		text-align: left !important;
	}
}
/*----------------Flip card code end----------------*/

.splash-screen {
	margin-top: 0.8em;
	text-align: center;
	font-family: "Minecraft", sans-serif;
	font-size: 40px;
	rotate: -5deg;
	color: rgb(0, 0, 0);
	text-shadow: 2px -2px 0px rgba(168, 33, 235, 0.99);
	animation: splash-screen 3s ease infinite;
}

@keyframes splash-screen {
	0% {
		transform: scale(1, 1);
		rotate: -5deg;
	}
	50% {
		transform: scale(1.1, 1.1);
		rotate: 5deg;
	}
	100% {
		transform: scale(1, 1);
		rotate: -5deg;
	}
}

@media (max-width: 750px) {
	.splash-screen {
		margin-top: 3rem;
		font-size: 17px;
	}
}

.minecraft-btn {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMQAAAAPCAAAAACe4j/AAAAEuElEQVRIx1WWS5Ibuw5EtddrdRRJJE4iSKrb4c2/AUuy30iK+jEBHCTwAICMCgAKiGhKVQUwKzJHQo4mQGBy7AIvk1E2AQKhFt6bUGD1gILy0DkD4dmzACkGyzCScgFgQmLZr4LpQpC56QB2wgSYE8i1fd6xd1yPHIAKwAs14Undx2LIHK0X6vdFbzTa6CNBLQE8Y5rapn7oAl3KSDKC6cLfL6sLnIVG7ffnyUgvQ6rwLjUZdIVqWz0iEXXCZ+TJsV8feUdoPHDk+a/IeAbq0ldLT59jtHweHwmKS6gFSUYCqKcVsPami1pEnqolkCMBiAS87FXTICp03geYUr8TV8un3KuyC0BfTUzihOCdwjUya1bkT9VWe+AaFOoJzHdtERXRe/eulyEDhC6pjYwr+JQuIDU9/0wQBnJEAkd+9i6IRTJrV7YWnGfwLA6ESphkBoCu88M0YH1CTTOiRUpDdwpGkkP5yL9phhwn+QVxDarAXq513y9bLKgxBGR/CjDyMl4ECd6lO82CaMLbEHGHp1R8ePDERj392ssaCOigNjJ+dXXl6OLUFfVx6dA1BFJLlHpkUHPam095C3QJLIjn6OLIOB3xe0JS85Zd+govg1/z/UhtG3RdVW98yxNp5I0Vtf/U+6y/dJ/yHtSK4q7G9ARscC3/Df/kXTwiT3d6ovjEISLJIVEvBwWeCXlALZTbpy85xqWuf3sNiBBUmYjI+BqN6aNQqDWpipSYf3W1nOV/WALoykjIiCPreSn97UigsjZdPA5s3AmCDIxaVO0Fa1fV/qkaiijPPz/bEeRyLSBDI8K8j37TO8aH7vmOqUUQ1DboYhvqd+FlFGEo+2T75MbLGnjvPeu7Pl521Ap14dcR3h7p75qv4xieqnNDoyCPLt/yKkf5gOUXl+6S3d9Syq/982fz+fhpsm28C5EhJcxsWWQke6KoPMA7tqm7kKcrn6FLhWcoqCNCxDPyQ8wEKR73nIlEX8GpARSJX7/rzeNtWPD/Dl2IwtOYMwV7osGsHYJanzeU7KqIZVCTcrT0IEbyD4d1e1dkBtW2qLhLXK7a1ogDqsjI1DR4PY7nHEqfF9tn8HUJL+eQ/lGOXdwI1++57CqgmDaReM9CZYLAk4D4ymqti4KZI9Htz9OnrcuOhCQEqJfXaxHPAFG/l/ee1GFJPXmPryYUiUGPutnRGXkagmnjHk5RNpm7xxiclm6CjJEQ4+MD4xPmuT9Ef4b3YT3B51a7d4Np76PF0cavuC+SoaH6PlilipEakoJBJETWT3k7Hf+1REPj2fIx95t5ct6u9S5v3KM2fv2Ve29ax9yC98zT2IZot61MHyYtdPF92nguZ29xfcVxSu9Nj5Gl8G3wcVoW8n1Q/f6BHFEAyy5R2aRIdYH8XfV4453vHKcnqarXPD6mdrD0rlVV5xBPF2xuJM5Oo0SdaaqGMjJva7ii6bYv74IzPMo5pGebpu72ghypwTR+WWDuhQOkFijGyAzF3GXh11lEH0hkPINZivpTqLEtVm2j1hVcn/S0//q0es5dbyxOErxKivQ+bHotvzcT3/XztPf20XqG6fJZMePT2X6ts+nlm9LoSYHMiHuJjGXniB7v2fo/5qT4nuxYg6AAAAAASUVORK5CYII=);
	font-family: "MinecraftiaRegular";
	border-color: #aaa #565656 #565656 #aaa;
	text-shadow: 2px 2px #4c4c4c;
	outline: 2px solid #000;
	color: white;
	letter-spacing: 1.5px;
	font-size: large;
	padding-bottom: 2em;
}

.minecraft-btn:hover {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMQAAAAPCAMAAACMV5AuAAAAVFBMVEVtd7ZteLZverdwerdwe7hxfLhyfbl0frl1f7p2gLt4grx6hLx7hb18hr5+iL+AisCBi8GCjMGEjsKGkMOHkcSIksSKk8WLlMWLlcaMlcaNlsePmMdwBHmVAAAEjElEQVRIx1WW27YbKw5F3Ul2GYTWFAJX+pyd///PfgDsTg0/mSqQ1k08AEAeDkAA7kXyDAeyu2QCWREgCGSvAAbIE/D9U2m8Ji4Drw0CEhP7EMiqBFxmDMBEkHvd5AziDsjoCKQXddUl1nuZgMZrf0PMdj1kgNY+Ay+CJPg8kj1rR3X/GS9kxaoJVFaB6QkxIX5TBX65mpAZGQH3HaoCFMj6/GxuYgDyTsyup1hfxwxVN+F08ANGANyf8jqAPaBpranJvhxV+VV08JGPVScmcL8W4EIuAFWFHMZrUkUfNC3WtIsEaFogMWJRl839MES61w1cjMUsI1fb7GKaoENMOdFNykzXPz2mlwekkXjV4ioO9b15rZWZd4AaCL9cxdSutl8buIOUkd8JTgAy01IKoFoFPhAZr65SbDHgxFIGKi5IpLaKdlafAHxaVWDt2SSZ24LQhEx6aLGyj7RtELDLiA7EiD72ehBiQJo5oPq1nOQMYGAIYoY2AwIrImaA+25P8vZRa0KgqrjnQIaACiom/1G9Sla3GUHVLl/mMl/mxeUPGT0T5seAeeAQtF9WV2F7cX4niJ4DYmBd12oh7jymyRkBuq6M81mQuExHVv313beo9VH3ojfM2zZ8AkTG8X7EeDs6OZw+mrY7E5l/gqQJmZx+YySQAi1/dqQZy0as4FL1d7nrcfd1kjWTX1ZIYESTUCnuPZE7+anrqcxlz3diUX2HowHCf15S3AvxrnhRxeMwtQACGYGKZ7wGjNl7vH73MHdP8s/vSXM0FiRqMnPowfbjRsfe6n7nZ/FGIyfgF6+A/t1XTrcWB3Q42AxkMOfMfuJotRPgqGqFMfB8KO6eN+BEpO8F2eLZ18YO0GUdmEDcXMcNey+XuOfvP5P35guSVxAzWRYUpIoSuZiJrJ/p4zPouw0pwX+6XwpIcyNWEcJ/uf5Svuyx+ncTfhmotEhIBPe/8f961F/jI5aQfSs3WFOwChnZZxPk+HQjZu/WBuDFVwobZnoLISBOdkmNLFPE9iadiImsgTcdTDKA8dj1qBT518Xcg6+6L0Yl/nqCLeH+b46InkCSETTBzEQBRoPEwS9lKVUkpEx426M3oIMHYQLhK/B6jHvgXw6if4+YM4mlJdWDpLw4MhHgjwBZgIt+ZJdAVENOEkiv6mY4yy5nFPjnQmGfGVy0IqP+cmbsWF7Se/rT+5ZBzHPdKfajHW2ouWldPJaoTDJ3GUYTNMV/IyaiPYqQuX0VPXK+ra3Mc8c5Wlkp4D/e5S5htjXU3HnPPJsBXraRM/rSpOMX99zMoVradRl9AMxJdVPIYgf8Rhu0DvLM739A5rmjJ51QcW9SFXjcvR85oYOhSKTsd65pqdKWIV59ZO/7kKTDJLbvYw9XVRIyTXKJdfm4rOjE18yT8IHM/euZa0Z0fLvBSIh7h925QLoXR80WNfnqOHHP7Qk5aj+dTLX4E3hhIkafoGd15/IDT/lPTVSVr233dy6OkJtiLm0yBu+byeE2Yc59pVrDdKyPjxgD4h6r6vcFwpYNHMxVBaE2ApmfyTTjf5jQnWRymG7iAAAAAElFTkSuQmCC);
	border-color: #bdc6ff #59639a #59639a #bdc6ff;
}
