@import url('https://fonts.cdnfonts.com/css/super-legend-boy?styles=62384');


body {
    background-image: url(/Games/reactiongame/reactBackground.jpg);
    z-index: 99;
    width: 100%;
    height: 100vh;
    background-size:cover;
    background-position: center;
}

.fieldFlexbox {
    display: flex;
}

.field {
    position: absolute;
    font-family: 'Super Legend Boy', sans-serif;
    border: 10px solid rgb(0, 0, 0);
    width: 50%;
    min-height: 10%;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 5rem;
    background-color: #5e60bd;
    text-align: center; 
    align-items: center;
    padding: 200px 0;  
    -webkit-box-shadow: 0px 0px 44px 37px rgba(255, 255, 255, 0.483);
  -moz-box-shadow: 0px 0px 44px 37px rgba(255, 255, 255, 0.428);
  box-shadow: 0px 0px 100px 37px #4648bb;
    user-select: none;
    cursor: pointer;
}

.button-54 {
  font-family: 'Super Legend Boy', sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

.reactText h1 {
    font-family: 'Super Legend Boy', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    color: hsl(155, 100%, 62%);
    text-shadow: hsl(145, 100%, 57%) 1px 0 10px;
}


.restart-button {
    font-family: 'Super Legend Boy', sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  }
  
  .restart-button:active {
    box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
  }