@import url("https://fonts.cdnfonts.com/css/super-legend-boy?styles=62384");

* {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body {
	z-index: 99;
	width: 100%;
	height: 100vh;
	background-image: url(/Games/tetris/wp5539369.jpg);
	background-size: cover;
	background-position: center;
}

.containerTetris {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.leftFlexbox {
	height: 100%;
	width: 30%;
}
.middleFlexbox {
	height: 100%;
	width: 30%;
}
.rightFlexbox {
	height: 100%;
	width: 30%;
	flex-direction: column;
}
.rightFlexboxContainer {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.upRowFlexbox {
	margin-top: 2rem;
	width: 100%;
	height: 28%;
}
.middleRowFlexbox {
	width: 100%;
	height: 25%;
}
.downRowFlexbox {
	width: 100%;
	height: 33%;
}

#game-over {
	border: 3px solid white;
	padding: 0;
	margin: auto;
	display: block;
	width: 391px;
	height: 780px;
	position: absolute;
	top: 0;
	bottom: 10;
	left: 0;
	right: 0;

	display: none;
	transform: scale(0.701);
	background: radial-gradient(circle, rgba(138, 32, 150, 0.997) 35%, rgba(32, 24, 62, 1) 100%);
}

.screen p {
	font-weight: 50;
	font-size: 35px;
	text-align: center;
	font-family: "Super Legend Boy", sans-serif;
	vertical-align: middle;
	margin-top: 18rem;
}
#score2 {
	font-weight: 50;
	font-size: 35px;

	text-align: center;

	font-family: "Super Legend Boy", sans-serif;
}
.screen button {
	display: block;
	margin-top: 4rem;
	margin-left: auto;
	margin-right: auto;

	border-radius: 1rem;
	background-color: blueviolet;
	text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(170, 0, 255), 0 0 0.2em rgb(86, 39, 109);
	font-family: "Super Legend Boy", sans-serif;
	font-size: 2rem;
	text-align: center;
	width: 10rem;
	height: 3rem;
}

.upRowFlexbox p {
	padding-left: 1rem;
	padding-top: 1rem;
	position: relative;
	font-size: 20px;
	font-family: "Super Legend Boy", sans-serif;
	font-weight: 100;
	color: rgb(255, 255, 255);
	text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
}
.tetrisCanvas {
	border: 3px solid white;
	padding: 0;
	margin: auto;
	display: block;
	width: 391px;
	height: 780px;
	position: absolute;
	top: 0;
	bottom: 10;
	left: 0;
	right: 0;
	transform: scale(0.7);
	-webkit-box-shadow: 0px 0px 44px 37px rgba(255, 255, 255, 0.61);
	-moz-box-shadow: 0px 0px 44px 37px rgba(255, 255, 255, 0.61);
	box-shadow: 0px 0px 44px 37px rgba(255, 255, 255, 0.61);
}

.content p {
	padding-left: 1rem;
	padding-top: 1rem;
	font-family: "Super Legend Boy", sans-serif;
	font-size: 18px;
	letter-spacing: 2px;
	color: rgb(255, 255, 255);
	text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
}

.score{
	padding-left: 1rem;
	font-family: "Super Legend Boy", sans-serif;
	font-size: 18px;
	letter-spacing: 2px;
	color: rgb(255, 255, 255);
	text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
}
.blockDisplay {
	margin-left: 1rem;
	display: block;
	width: 120px;
	height: 75px;
	position: absolute;
	border: 2px solid white;
	-webkit-box-shadow: -6px -6px 300px -19px rgb(255, 255, 255);
	-moz-box-shadow: -6px -6px 300px -19px rgb(255, 255, 255);
	box-shadow: -6px -6px 300px -19px rgb(255, 255, 255);
}
.blockBox {
	display: flex;
	border: 1px solid white;
}

.downRowFlexbox button {
	position: absolute;
	border-radius: 100rem;
	justify-content: center;
	color: rgb(0, 0, 0);
	-webkit-box-shadow: 0px 0px 50px 33px rgba(255, 255, 255, 0.61);
	box-shadow: 0px 0px 50px 33px rgba(255, 255, 255, 0.61);
	font-size: 30px;
	font-family: "Super Legend Boy", sans-serif;
	font-weight: 100;
	padding: 0.5rem;
	width: 11rem;
	margin-left: 1rem;
	margin-bottom: 3rem;
	background-color: rgb(255, 255, 255);
	text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
}
.downRowFlexbox button:hover {
	border-radius: 100rem;
	justify-content: center;
	color: rgb(0, 0, 0);
	-webkit-box-shadow: 0px 0px 50px 33px rgba(255, 255, 255, 0.61);
	box-shadow: 0px 0px 50px 33px rgba(255, 255, 255, 0.61);
	font-size: 30px;
	font-family: "Super Legend Boy", sans-serif;
	font-weight: 100;
	padding: 0.5rem;
	width: 11rem;
	margin-left: 1rem;
	margin-bottom: 3rem;
	background-color: rgb(202, 202, 202);
}

@media (max-width: 1100px) {
	.tetrisCanvas {
		display: none;
	}

	.containerButtonScore {
		display: none;
	}
}
