@import url('https://fonts.cdnfonts.com/css/super-legend-boy?styles=62384');


* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body{
    z-index: 99;
    width: 100%;
    height: 100vh;
    background-image: url(/Games/tetris/wp5539369.jpg);
    background-size:cover;
    background-position: center;
}

.containerButtonScore {
  border: greenyellow 2px;
  height: 100vh;
  padding-left: 40rem;
  padding-top: 8.5rem;
}

.containerButtonScore .content {
  position:static;
  border:  rgb(38, 63, 0) 3px;
  width: fit-content;
  font-family: 'Super Legend Boy', sans-serif;
  font-size: 18px;
  letter-spacing: 2px;
  color: whitesmoke;
  height: 10rem;
  width: 12rem;
  margin: auto;
  padding: 4rem;
}


.containerButtonScore button{
  border-radius: 100rem;
  justify-content: center;
  color: rgb(0, 0, 0);
  -webkit-box-shadow: 0px 0px 50px 33px rgba(255,255,255,0.61); 
  box-shadow: 0px 0px 50px 33px rgba(255,255,255,0.61);
  font-size: 30px;
  font-family: 'Super Legend Boy', sans-serif;
  font-weight: 100;
  padding: 0.5rem;
  width: 9rem;
  margin-left: 0rem;
  margin-bottom: 3rem;
  background-color: whitesmoke;
}

#game-over {
  z-index: 101;
  border: solid 1px rgba(138,32,150,1);
  width: 391px;
  height: 700px;
  background: radial-gradient(circle, rgba(138, 32, 150, 0.997) 35%, rgba(32,24,62,1) 100%);
  text-align:center; 
  position:fixed;
  top: 10rem;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: none;
}

.tetrisCanvas {
  position: absolute;
  z-index: 0;
  text-align:center; 
  vertical-align: middle;
  display: flex;
  position: absolute;
  height: 700px;
  top: 10rem;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: solid 1px rgba(255,82,227,0.61);

  -webkit-box-shadow: 0px 0px 44px 37px rgba(255,82,227,0.61);
  -moz-box-shadow: 0px 0px 44px 37px rgba(255,82,227,0.61);
  box-shadow: 0px 0px 44px 37px rgba(255,82,227,0.61);
}
.screen p {
  font-weight: 50;
  font-size: 35px;
  font-family: 'Super Legend Boy', sans-serif;
  text-decoration-line:underline;
  display: inline-block;
  vertical-align: middle;
  margin-top: 350px;
}


.screen button {
  display: block;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  
  background-color: blueviolet;

  font-family: 'Super Legend Boy', sans-serif;
  font-size: 2rem;
  text-align: center;
  width: 9rem;
  height: 3rem;
}

