@import url("https://fonts.cdnfonts.com/css/super-legend-boy?styles=62384");

* {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body {
	z-index: 99;
	height: 100vh;
	width: 100vw;
	background-color: black;
	background-image: url(/Project-TETRIS/Games/snake/pandabackground.png);
	background-size: cover;
	background-position: center;
}

.playerScore {
	z-index: 103;
	border: red 2px;
	height: fit-content;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2rem;
	position: relative;
	text-shadow: rgba(209, 209, 209, 0.7) 5px 0px 0px;
	font-family: "Super Legend Boy", sans-serif;
}

.playerScore p {
	color: rgb(255, 255, 255);
	font-size: 35px;
}

.score {
	text-align: center;
	color: rgb(0, 255, 51);
	font-size: 35px;
}

#game-board {
	background-color: #002f1cfb;
	box-shadow: 0px 0px 100px 23px #067649f7;
  opacity: 75%;
	width: 70vmin;
	height: 70vmin;
	top: 0rem;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;

	display: grid;
	grid-template-rows: repeat(21, 1fr);
	grid-template-columns: repeat(21, 1fr);
	position: relative;
	border: green solid 2px;
}

#game-over {
	z-index: 101;
	width: 300px;
	height: 300px;
	top: 8rem;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background: url("/Project-TETRIS/Games/snake/gameoversnake.png");
	text-align: center;
	vertical-align: middle;
	position: absolute;
	display: none;
  box-shadow: rgb(2, 124, 0) 0px 22px 70px 4px;
  border-radius: 5%;
}

.screen p {
  padding-top: 1rem;
	font-family: "Super Legend Boy", sans-serif;
  color: white;
}
.screen h1 {
  padding-top: 9rem;
	font-family: "Super Legend Boy", sans-serif;
  color: white;
}
.score2 {
	font-family: "Super Legend Boy", sans-serif;
  color: white;
  margin-bottom: 0.5rem;
}
 .restartButton {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  text-align: center;
  border: 0;
  padding: 7px 16px;
  min-height: 36px;
  min-width: 36px;
  color: #ffffff;
  background: #008060;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px, rgba(0, 0, 0, 0.2) 0px -1px 0px 0px inset;
 }
 .restartButton:hover {
     background: #006e52;
 }

 .diffFlexbox {
  display: flex;
 }
 

.snake {
	background: url("/Project-TETRIS/Games/snake/HOMOPANDA.png");
	background-size: cover;
	transition: 0s;
	/*transform: rotate(90deg);*/
}

.snakeBody {
	transition: 1s;
	background-color: black;
	z-index: 2;
}

.food {
	background: url("/Project-TETRIS/Games/snake/bamboo.png");
	background-size: cover;
}
