@import url('https://fonts.cdnfonts.com/css/super-legend-boy?styles=62384');

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  z-index: 99;
  height: 100vh;
  width: 100vw;
  background-color: black;
  background-image: url(/Games/snake/snakebackground.jpg);
  background-size:cover;
  background-position: center;
}

.playerScore{
  z-index: 103;
  border: red 2px;
  height: fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  position: relative;
  text-shadow: rgba(209, 209, 209, 0.7) 5px 0px 0px;
  font-family: 'Super Legend Boy', sans-serif;
}

.playerScore p{
  color: white;
  font-size: 35px;
}

.score {
  text-align: center;
  color: aqua;
  font-size: 35px;
}
 
#game-board {
  background-color: #033c25fb;
  box-shadow: 0px 0px 100px 23px #067649f7;
  width: 70vmin;
  height: 70vmin;
  top: 0rem;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  display: grid;
  grid-template-rows: repeat(21, 1fr);
  grid-template-columns: repeat(21, 1fr);
  position:relative;
  border: green solid 2px;
}

#game-over {
    z-index: 101;
    width: 300px;
    height: 300px;
    top: 5rem;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgb(208, 160, 160);
    text-align:center; 
    vertical-align: middle;
    position: absolute;
    display: none;
}

.snake {
    background: url("panda-removebg-preview.png");
    background-size: cover;
    transition: 0s;
    /*transform: rotate(90deg);*/
}

.snakeBody{
  transition: 1s;
  background-color: black;
  z-index: 2;
}

  .food {
    background: url('apple-pixel-design-red-vector-33228512-removebg-preview.png');
    background-size: cover;
  }

  

