@import url("https://fonts.googleapis.com/css2?family=Nabla&display=swap");
@import url("https://fonts.cdnfonts.com/css/super-legend-boy?styles=62384");
* {
	padding: 0;
	margin: 0;
	z-index: 99;
}

.body {
	margin: 0rem;
	padding: 0rem;
}
.navbar {
	height: 90px;
	display: flex;
	justify-content: space-between;
	align-items: auto;
	background-color: #191636;
	color: aliceblue;
}

.brand-titel h1 {
	font-family: "Nabla", cursive;
	float: left;
	font-size: 2.5rem;
	margin-left: 1rem;
	margin-top: 0.5rem;
	justify-content: flex-start;
}

.navbar-links {
	margin-right: 2rem;
	margin-top: 0.9rem;
	justify-items: baseline;
}

.navbar-links a {
	font-family: "Super Legend Boy", sans-serif;
	margin-top: 0.5em;
	padding: 1rem;
	font-size: 1rem;
}
.navbar-links ul {
	display: flex;
}

.navbar-links li {
	list-style: none;
}

.navbar-links li a {
	text-decoration: none;
	color: white;
	text-align: center;
	text-shadow: rgba(209, 209, 209, 0.7) 0px 0px 10px;
	display: block;
}

.navbar-links a:hover {
	background-color: #25214b;
	border-radius: 0.5rem;
}

/*toggle menu*/

.toggle-button {
	z-index: 100;
	position: absolute;
	top: 2rem;
	right: 1.5rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
}

.toggle-button .bar {
	height: 2px;
	width: 100%;
	background-color: aliceblue;
	border-radius: 10px;
}

/* menu shrink to hamburger menu */

@media (max-width: 850px) {
	.brand-titel h1 {
		font-family: "Nabla", cursive;
		float: left;
		font-size: 1.9rem;
		margin-left: 1rem;
		margin-top: 0.5rem;
		justify-content: flex-start;
	}

	.toggle-button {
		display: flex;
	}

	.navbar-links {
		display: none;
		width: auto;
		background-color: #191636;
		border-radius: 0.5rem;
		padding: 1rem;
		width: auto;
		margin-top: 4rem;
		margin-right: 0rem;
		border: rgb(0, 0, 0) solid 2px;
		border-top: #191636;
		float: right;
	}

	a.toggle-button {
		z-index: 101;
	}
	.navbar {
		align-items: flex-start;
		text-align: center;
	}

	.navbar-links ul {
		width: 100%;
		flex-direction: column;
		width: auto;
	}

	.navbar-links li {
		padding-left: 0rem;
		margin: 0rem;
	}

	.navbar-links a {
		padding: 0.5rem;
		margin: 0rem;
	}
	.navbar-links li a {
		width: 100%;
		text-align: center;
	}

	.navbar-links.active {
		display: flex;
		z-index: 100;
	}
}
.navbar-links img {
	border-radius: 100%;
	margin-left: 1rem;
}
